body{
    background:#222;
    color:#fff;
    width:100%;
    margin: 0 auto;
}

#main-section{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    gap:10px;
    max-width: 500px;
    flex-wrap: wrap;
}

#main-section .row{
    width:100%;
}